<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <!-- 图标 -->
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- 字体图标 -->
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_2815790_wwu5kcmwuvp.css">
    <!-- 弹出提示插件 -->
    <!-- <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css"> -->
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <div id="header">
        <div class="logo">
            <a href="./index1.html"><img src="../imgs/icon.png" alt="熊猫优选"></a>
        </div>
        <div class="hea-box">
            <h2>熊 猫 优 选</h2>
            <p>xiong mao you xuan</p>
        </div>
        <div class="hea-right"><a href="./register.html">注册账号</a></div>
    </div>
    <div id="main">
        <div class="m-left">
            <img src="../imgs/a.png" alt="">
        </div>
        <div class="m-right">
            <div class="login">
                <p><span style="color: #f56600;">账号登录</span><span style="border: none;">扫码登录</span></p>
                <p><input type="text" placeholder="邮箱/手机号码/熊猫优选ID" id="uname"></p>
                <p><input type="password" placeholder="密码" id="pwd"></p>
                <p><input type="checkbox" id="check"><span>7天免登录</span></p>
                <div class="tijiao" id="btn">登 录</div>
                <div class="txt">
                    <a href="javascript:;" style="color: #f56600;">手机短信登录/注册</a>
                    <span><a href="javascript:;">忘记密码？</a></span>
                    <span><a href="javascript:;">立即注册</a></span>
                </div>
            </div>
            <div class="other">
                <p>------------------------&nbsp;&nbsp;其他方式登录 &nbsp;&nbsp;------------------------</p>
                <p>
                    <i class="iconfont icon-weibo" style="color: #d32f2f;"></i>
                    <i class="iconfont icon-QQ" style="color: #0288d1;"></i>
                    <i class="iconfont icon-weixin" style="color: #00d20d;"></i>
                    <i class="iconfont icon-zhifubao" style="color: #0ae;"></i>
                </p>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="f-txt">
            <li><a href="javascript:;" style="color: black;">简体</a></li>
            <li><a href="javascript:;">繁体</a></li>
            <li><a href="javascript:;">English</a></li>
            <li><a href="javascript:;">常见问题</a></li>
            <li style="border: none;"><a href="javascript:;">隐私政策</a></li>
        </div>
        <div class="copyright">
            <span>熊猫优选公司版权所有-京ICP备10046444-</span>
            <img src="../imgs/ghs.png" alt="">
            <span>京公网安备11010802020124号 -京ICP证110457号</span>
        </div>
    </div>
</body>
<script src="../lib/js/jquery.min.js"></script>
<script src="../lib/js/cookie.js"></script>
<script src="../js/login.js"></script>
<!-- 弹出提示插件 -->
<script src="//unpkg.com/layui@2.6.8/dist/layui.js"></script>

</html>